.CreateProgress {
	text-align: center;

	&-header {
		text-align: center;
		color: #444;
		letter-spacing: 1px;
		word-spacing: 4px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		font-size: 4rem;
  	line-height: 0.9;
		border-bottom: 5px solid #f9bbc6;
		display: inline-block;
		margin-bottom: 2rem;
	}

	&-deletePhases {
			color: #888;
			cursor: pointer;
			font-size: 1.5rem;
			position: absolute;
			top: 83px;
			right: 5vw;

			&:hover {
				transition: all .2s;
				color: #666;
			}
		}
}